<!DOCTYPE html>
<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=1880, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
	<link href="./styles/mystyle<%= htmlWebpackPlugin.options.ver %>.css" rel="stylesheet" media="screen"/>
    
</head>
<body>

	<div id="myProgressBar">
        <div>
            <div class="icon">
            </div>
            <div class="loding_Text">
                loading ...
            </div>
        </div>
    </div>
  
</body>
</html>
